
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--8Jg {
  height: 80rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d1f0ff;
  width: 100%;

  .item--Chr {
    top: 20.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 64.4rem;
    height: 67rem;
    position: absolute;
    left: 0;
  }
  .item--KnU {
    position: absolute;
    left: 0;
    top: 13.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 25.2rem;
    height: 16.3rem;
  }
  .item--3Cg {
    position: absolute;
    left: 23.3rem;
    top: 11.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 25.2rem;
    height: 18.5rem;
  }
  .item--Yv8 {
    left: 15.3rem;
    top: 13.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 9.1rem;
    height: 9.2rem;
    position: absolute;
  }
  .item--EHA {
    left: 0;
    top: 20.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.8rem;
    height: 28.5rem;
    position: absolute;
  }
  .item--99E {
    top: 4.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 8.9rem;
    height: 5.1rem;
    position: absolute;
    left: 0;
  }
  .item--4mz {
    position: absolute;
    left: 3.2rem;
    top: 1.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.4rem;
    height: 5.9rem;
  }
  .item--Brc {
    left: 17.1rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 11.1rem;
    height: 6.8rem;
    position: absolute;
  }
  .item--ibe {
    width: 8.8rem;
    height: 5.9rem;
    position: absolute;
    left: 28.2rem;
    top: 4.3rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item--dyW {
    width: 27rem;
    height: 31rem;
    position: absolute;
    left: 1.2rem;
    top: 45.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .welcome-yGg {
    top: 6rem;
    object-fit: cover;
    vertical-align: top;
    width: 36.7rem;
    height: 14.4rem;
    position: absolute;
    left: 0;
  }
  .item--iVA {
    top: 29.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 29.8rem;
    height: 35.9rem;
    position: absolute;
    left: 3.1rem;
  }
  .item--Npc {
    height: 6.7rem;
    position: absolute;
    left: 10.2rem;
    top: 70.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
  }
  .item-006-1-Hgg {
    left: 15.5rem;
    top: 60.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 20.5rem;
    height: 19.9rem;
    position: absolute;
  }
  .item--ypQ {
    vertical-align: top;
    width: 10.2rem;
    height: 6.7rem;
    position: absolute;
    left: 10.2rem;
    top: 21.2rem;
    object-fit: cover;
  }
  .item--79v {
    top: 25.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
    height: 6.7rem;
    position: absolute;
    left: 0;
  }
  .item--RwJ {
    width: 26.3rem;
    height: 3.6rem;
    position: absolute;
    left: 4rem;
    top: 51.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item--wek {
    width: 10.2rem;
    height: 6.7rem;
    position: absolute;
    left: 0;
    top: 58rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item--Gwv {
    left: 25.7rem;
    top: 57rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
    height: 6.7rem;
    position: absolute;
  }
  .item--18p {
    position: absolute;
    left: 26.9rem;
    top: 28.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
    height: 6.7rem;
  }
  .item--HME {
    height: 8.1rem;
    position: absolute;
    left: 8.7rem;
    top: 55.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 16.7rem;
  }
}
