
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--tfn {
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d1f0ff;
  width: 100%;
  height: 80rem;
  position: relative;

  .item--QPE {
    left: 0;
    top: 20.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 64.4rem;
    height: 67rem;
    position: absolute;
  }
  .item--8q2 {
    width: 25.2rem;
    height: 16.3rem;
    position: absolute;
    left: 0;
    top: 13.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item--4Ct {
    top: 11.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 25.2rem;
    height: 18.5rem;
    position: absolute;
    left: 23.3rem;
  }
  .item--Ytk {
    position: absolute;
    left: 17.1rem;
    top: 15rem;
    object-fit: cover;
    vertical-align: top;
    width: 22.1rem;
    height: 24.3rem;
  }
  .item--GJx {
    position: absolute;
    left: 0;
    top: 7rem;
    object-fit: cover;
    vertical-align: top;
    width: 38.2rem;
    height: 13rem;
  }
  .item--bME {
    top: 55.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 26.3rem;
    height: 3.6rem;
    position: absolute;
    left: 4.9rem;
  }
  .item--iAx {
    object-fit: cover;
    vertical-align: top;
    width: 30rem;
    height: 11rem;
    position: absolute;
    left: 2.6rem;
    top: 45.1rem;
  }
  .item--Rr4 {
    position: absolute;
    left: 3rem;
    top: 37.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 30rem;
    height: 7.9rem;
  }
  .item--MDv {
    height: 22.3rem;
    position: absolute;
    left: 16.2rem;
    top: 58.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 20.4rem;
  }
  .item--HNU {
    left: 1.3rem;
    top: 62.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 12rem;
    height: 13.8rem;
    position: absolute;
  }
  .item--Qxt {
    height: 15.5rem;
    position: absolute;
    left: 0;
    top: 22.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 16rem;
  }
  .item--9vU {
    height: 9.2rem;
    position: absolute;
    left: 15.3rem;
    top: 13.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 9.1rem;
  }
  .item--Rsz {
    height: 6.7rem;
    position: absolute;
    left: 14.2rem;
    top: 21.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
  }
  .item--Yxc {
    height: 6.7rem;
    position: absolute;
    left: 9.1rem;
    top: 29.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
  }
  .item--5Br {
    left: 0;
    top: 57.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
    height: 6.7rem;
    position: absolute;
  }
  .item--15W {
    height: 6.7rem;
    position: absolute;
    left: 9.1rem;
    top: 71.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.2rem;
  }
  .item--8R2 {
    width: 10.2rem;
    height: 6.7rem;
    position: absolute;
    left: 25.2rem;
    top: 57.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item--3Xz {
    height: 5.1rem;
    position: absolute;
    left: 0;
    top: 4.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 8.9rem;
  }
  .item--aXv {
    height: 6.8rem;
    position: absolute;
    left: 17.1rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 11.1rem;
  }
  .item--hsS {
    height: 5.9rem;
    position: absolute;
    left: 28.2rem;
    top: 4.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 8.8rem;
  }
  .item--DKz {
    left: 2.9rem;
    top: 1.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.4rem;
    height: 5.9rem;
    position: absolute;
  }
}
